* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #111;
    color: #fff;
}

/* NAVBAR */
header {
    background: #222;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.logo {
    color: #ff4fa3;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ff4fa3;
}

/* HERO */
.hero {
    background-color: #111;
    font-size: 18px;
    padding: 80px 20px;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.hero .intro {
    flex: 1;
    text-align: left;
}

.hero-photo {
    flex: 0 0 260px;
}

.hero-photo img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 50%; 
    border: 3px solid #333;
    display: block;
}

@media (max-width:700px) {
    .hero { padding: 60px 20px; }
    .hero-content { flex-direction: column; text-align: center; }
    .hero-photo { margin-top: 20px; }
    .hero-photo img { width: 180px; height: 180px; border-radius: 50%; }
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #ff4fa3;
    color: #111;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ff2f8b;
}


section {
    padding: 70px 20px;
    max-width: 1100px;
    margin: auto;
}


.sobre {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 18px;
}
.habilidades {
    padding-top: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #ff4fa3;
}

/* HABILIDADES */
.habilidades .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.card {
    background: #222;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #333;
}

/* PROJETOS */
.cards-projetos {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projeto {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;
}

.btn-projeto {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ff4fa3;
    font-weight: bold;
}

.btn-projeto:hover {
    text-decoration: underline;
}


.contato {
    text-align: center;
}


footer {
    padding: 20px;
    text-align: center;
    background: #222;
    color: #aaa;
    margin-top: 30px;
}
